@charset "UTF-8";
/* line 1, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_global.scss */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* line 11, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_global.scss */
body, html {
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
  background: -webkit-linear-gradient(-45deg, #f6f8f9 35%, #d7dee3 65%, #d7dee3 70%, #d7dee3 70%, #d7dee3 75%, #d7dee3 77%, #d7dee3 79%, #d7dee3 90%, #d7dee3 95%, #d7dee3 99%, #d7dee3 100%, #f5f7f9 100%);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: auto;
}

/* line 22, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_global.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 28, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_global.scss */
main, .uppdrag, .omoss, .tjänster, .kontakt {
  min-height: 100vh;
}

/* line 33, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_global.scss */
.hide {
  display: none;
}

/* HEADER */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_header.scss */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 5rem;
  width: 100%;
  text-shadow: 5px 10px 10px #0d0d0d;
}

/* line 17, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_header.scss */
header img {
  width: 200px;
  padding: 1rem;
  border: 0px;
}

/* NAVBAR */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.zoom-nav {
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

/* line 10, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.navbar {
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  float: right;
}

/* line 17, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.navbar li {
  display: inline;
  margin: 1rem;
}

/* line 24, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.navbar a {
  color: #000;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* line 34, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.navbar li > .current a, .navbar a:hover {
  border-bottom: 3px solid #000;
  padding-bottom: 2px;
}

/* line 41, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.mobile-nav, #nav-span {
  display: none;
}

/* line 46, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_navbar.scss */
.active {
  border-bottom: 3px solid #000;
  padding-bottom: 2px;
}

/* HOMEPAGE */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_homepage.scss */
main {
  background: url(../img/startbild.jpg) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 15, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_homepage.scss */
.slogan {
  width: 100%;
  margin-top: 10%;
}

/* line 20, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_homepage.scss */
.slogan h1 {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 4rem;
  color: #000;
  border: 10px solid #000;
  font-family: 'Archivo Black', sans-serif;
  -webkit-animation: jackInTheBox 2s;
  animation: jackInTheBox 2s;
}

/* OM OSS */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omoss-img {
  background: url(../img/office1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

/* line 11, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omossnav {
  -webkit-box-shadow: 5px 10px 11px #0d0d0d;
  box-shadow: 5px 10px 11px #0d0d0d;
  background-color: #d6c5b7;
  margin: 5rem;
  min-width: 35%;
  height: 10%;
}

/* line 21, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omossnav li {
  padding: 0.5rem;
  margin: 1rem;
}

/* line 26, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omossnav li:before {
  content: "> ";
}

/* line 33, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omossnav a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* line 40, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omossnav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 51, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.border-li {
  border-bottom: 10px solid #fff;
}

/* line 55, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omosstext {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: auto;
  padding: 8rem;
}

/* line 66, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omosstext p {
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 1rem;
}

/* line 72, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_omOss.scss */
.omosstext h1 {
  font-size: 3rem;
  border-bottom: 3px solid #000;
}

/* TJÄNSTER */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 16, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3em;
  text-align: center;
}

/* line 26, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster img {
  width: 100%;
  height: auto;
  padding-top: 1.5em;
}

/* line 34, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-vanster {
  background-color: #d6c5b7;
  width: 40%;
  height: auto;
  padding: 1em 2em 2em 2em;
  -webkit-box-shadow: 5px 10px 22px #0d0d0d;
  box-shadow: 5px 10px 22px #0d0d0d;
  float: right;
}

/* line 45, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-hoger {
  background-color: #d6c5b7;
  width: 40%;
  height: auto;
  padding: 1em 2em 2em 2em;
  -webkit-box-shadow: 5px 10px 22px #0d0d0d;
  box-shadow: 5px 10px 22px #0d0d0d;
  float: right;
}

/* line 57, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-mobil {
  display: none;
  width: 80%;
  height: auto;
  background-color: #d6c5b7;
}

/* line 64, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-mobil img {
  padding-top: 1em;
  width: 100%;
  height: auto;
}

/* line 73, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-text {
  font-weight: bold;
  width: 80%;
  padding: 2rem;
}

/* line 79, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-text h1 {
  font-size: 3rem;
  border-bottom: 3px solid #000;
  clear: both;
}

/* line 88, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tjanster-li {
  line-height: 1em;
}

/* line 93, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tablink {
  background-color: #d6c5b7;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em 1em;
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* line 106, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tablink :hover {
  background-color: #777;
}

/* line 112, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tablinkactive {
  background-color: #000;
}

/* line 118, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_tjanster.scss */
.tabcontent {
  color: #000;
  display: none;
  padding: 2em 1em;
  height: 100%;
}

/* UPPDRAG */
/* line 4, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.uppdrag-text {
  padding: 3rem 1rem 0 1rem;
  text-align: center;
  font-weight: bold;
}

/* line 10, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.uppdrag-text h1 {
  font-size: 37px;
  text-decoration: underline;
}

/* line 18, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.uppdrag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 1rem auto auto;
}

/* line 31, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.wrapper {
  -webkit-box-shadow: 5px 10px 11px #0d0d0d;
  box-shadow: 5px 10px 11px #0d0d0d;
  background-color: #fff;
  color: #000;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 3rem 0;
  font-weight: bold;
  display: inline-block;
}

/* line 46, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.wrapper img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* line 56, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.wrapper img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* line 69, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* line 83, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-content {
  background: -webkit-linear-gradient(-45deg, #f6f8f9 35%, #d7dee3 65%, #d7dee3 70%, #d7dee3 70%, #d7dee3 75%, #d7dee3 77%, #d7dee3 79%, #d7dee3 90%, #d7dee3 95%, #d7dee3 99%, #d7dee3 100%, #f5f7f9 100%);
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  border: 3px solid #000;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: fadein 0.8s;
  animation: fadein 0.8s;
}

/* line 98, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
#modal-span {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 103, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
#modal-span:hover, #modal-span:focus {
  cursor: pointer;
}

/* line 110, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-framtiden {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/framtiden.png) no-repeat center center;
  background-size: cover;
}

/* line 116, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-loxy {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/loxy.jpg) no-repeat center center;
  background-size: cover;
}

/* line 122, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-skane {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/skanetrafiken.png) no-repeat center center;
  background-size: cover;
}

/* line 128, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-mq {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/mq.png) no-repeat center center;
  background-size: 100% 100%;
}

/* line 134, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-gevalia {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/gevalia.png) no-repeat center center;
  background-size: 100% 100%;
}

/* line 140, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-header-tele2 {
  padding: 2px 16px;
  min-height: 9rem;
  border-bottom: 1px solid #000;
  color: #000;
  background: url(../img/tele2.jpg) no-repeat center center;
  background-size: 100% 100%;
}

/* line 146, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-body {
  padding: 2px 16px;
  text-align: center;
}

/* line 152, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-footer {
  padding: 2px 16px;
  color: white;
  min-height: 3rem;
}

/* line 156, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-footer button {
  float: right;
  -webkit-box-shadow: 0 3px #666;
  box-shadow: 0 3px #666;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 6px;
  font-weight: bold;
}

/* line 166, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-footer button:hover {
  cursor: pointer;
}

/* line 170, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_uppdrag.scss */
.modal-footer button:active {
  -webkit-box-shadow: 0 2px #666;
  box-shadow: 0 2px #666;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

/* KONTAKT */
/* line 2, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 12, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact form {
  -webkit-animation: slideInLeft 1s;
  animation: slideInLeft 1s;
  background-color: #d6c5b7;
  -webkit-box-shadow: 5px 10px 22px #0d0d0d;
  box-shadow: 5px 10px 22px #0d0d0d;
  color: #000;
  min-width: 40vw;
  margin: 5rem 1rem 5rem 5rem;
  font-weight: bold;
  float: left;
}

/* line 27, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact h1 {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  letter-spacing: 1px;
  padding: 0.5rem;
}

/* line 35, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact a {
  color: #000;
}

/* line 42, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: auto;
  padding: 0.7rem;
}

/* line 51, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms button {
  -webkit-box-shadow: 0 4px #666;
  box-shadow: 0 4px #666;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

/* line 63, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms button:hover {
  cursor: pointer;
}

/* line 68, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms button:active {
  -webkit-box-shadow: 0 3px #666;
  box-shadow: 0 3px #666;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

/* line 79, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms input, .li-forms button, .li-forms label {
  padding: 0.6rem;
}

/* line 83, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.li-forms input:focus, .li-forms textarea:focus {
  outline: 2px solid #000;
}

/* line 90, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact-wrapper {
  margin: 2rem;
  display: inline-block;
  float: right;
}

/* line 98, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
#map {
  -webkit-animation: slideInRight 1s;
  animation: slideInRight 1s;
  -webkit-box-shadow: 5px 10px 22px #0d0d0d;
  box-shadow: 5px 10px 22px #0d0d0d;
  height: 20rem;
  width: 40vw;
  margin: 5rem auto 5rem auto;
  padding: 2rem;
}

/* line 113, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact-adress {
  -webkit-animation: slideInUp 1s;
  animation: slideInUp 1s;
  background-color: #d6c5b7;
  -webkit-box-shadow: 5px 10px 22px #0d0d0d;
  box-shadow: 5px 10px 22px #0d0d0d;
  font-weight: bold;
  width: 70%;
  margin: auto;
}

/* line 126, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_kontakt.scss */
.contact-adress li {
  padding: 1rem;
  margin: 1rem;
}

/* FOOTER */
/* line 3, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #d6c5b7;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 9rem;
  clear: both;
}

/* line 17, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
footer a {
  color: #000;
}

/* line 22, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.adress {
  list-style: none;
  margin: 1rem;
}

/* line 26, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.adress li {
  margin: 0.5rem;
}

/* line 31, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.adress a {
  color: #000;
}

/* line 38, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.media-icons {
  padding: 0.5rem;
}

/* line 42, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.media-icons h2 {
  margin: 0.5rem 1rem 1rem;
  border-bottom: 10px solid #fff;
  text-align: center;
}

/* line 48, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_footer.scss */
.media-icons li {
  display: inline;
  margin: 1rem;
}

/* ANIMATIONS */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 1025px) {
  /* line 5, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omoss-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1024px) {
  /* line 20, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-text h1 {
    font-size: 2rem;
  }
  /* line 26, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omossnav {
    width: 60%;
    margin: 5rem auto;
    padding: 0.5rem;
  }
  /* line 33, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omosstext {
    padding: 0 10rem 2rem 10rem;
  }
  /* line 38, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .wrapper {
    margin: 3rem;
  }
  /* line 42, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .wrapper img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  /* line 48, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .wrapper p {
    padding: 0.5rem;
  }
  /* line 55, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact form {
    margin: 3rem;
  }
  /* line 61, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  #map {
    width: 40vw;
    margin: 3rem auto 5rem auto;
    padding: 2rem;
  }
  /* line 69, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact-adress {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  /* line 81, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  main {
    background-size: auto 100%;
  }
  /* line 86, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .navbar {
    display: none;
  }
  /* line 91, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .slogan h1 {
    font-size: 3rem;
    padding: 0.5rem;
  }
  /* line 97, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  #nav-span {
    margin: 1.2rem;
    font-size: 2rem;
    cursor: pointer;
  }
  /* line 105, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .mobile-nav, #nav-span {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  /* line 116, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .mobile-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.7;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    padding-top: 2.5rem;
    cursor: default;
  }
  /* line 135, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .mobile-nav li {
    margin-top: 1.2rem;
  }
  /* line 139, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .mobile-nav a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid gray;
    cursor: pointer;
    text-transform: uppercase;
  }
  /* line 156, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .nav-item a:hover {
    font-size: 18px;
    font-weight: bold;
  }
  /* line 163, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .mobile-nav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 37px;
    border: none;
  }
  /* line 172, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  /* line 181, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .adress {
    margin: 0;
    padding: 0.5rem;
  }
  /* line 186, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .adress li {
    margin: 0.5rem;
  }
  /* line 193, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .media-icons {
    padding: 1rem;
  }
  /* line 197, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .media-icons li {
    margin: 1rem;
  }
  /* line 204, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omoss-img {
    background-size: cover;
    background-attachment: scroll;
  }
  /* line 210, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omossnav {
    width: 90%;
    margin: 3rem auto;
  }
  /* line 216, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omosstext {
    padding: 0 2rem 2rem;
  }
  /* line 221, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster {
    display: none;
  }
  /* line 225, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-mobil {
    display: block;
  }
  /* line 230, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-container {
    padding-top: 3rem;
  }
  /* line 234, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-text h1 {
    font-size: 3rem;
  }
  /* line 239, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .wrapper {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    margin: 3rem 1rem;
  }
  /* line 246, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .modal {
    padding-top: 25px;
  }
  /* line 251, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .modal-content {
    width: 90%;
  }
  /* line 256, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact form {
    -webkit-animation-name: none;
    animation-name: none;
    margin: 5rem auto 3rem auto;
    width: 90%;
  }
  /* line 265, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact button {
    width: 100%;
  }
  /* line 269, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact #map {
    -webkit-animation-name: none;
    animation-name: none;
    width: 81vw;
    margin: auto;
  }
  /* line 278, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  #map span {
    display: none;
  }
  /* line 283, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .contact-adress {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  /* line 293, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .slogan h1 {
    font-size: 1.5rem;
  }
  /* line 298, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .wrapper p, .uppdrag-text p {
    font-size: 14px;
    padding: 0 1rem;
  }
  /* line 305, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-text p {
    font-size: 14px;
  }
  /* line 310, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .omosstext h1 {
    font-size: 1.5rem;
  }
  /* line 316, C:/Users/Ahmet/Documents/GitHub/Evolve/sass/_media.scss */
  .tjanster-text h1 {
    font-size: 17px;
  }
}

/*# sourceMappingURL=../css/style.map */