/* FOOTER */

footer{
	
	@include flex;
	background-color: $main-color;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-height: 9rem;
}

.adress{

	list-style: none;
	margin: 1rem;
	& li{

		margin: 0.5rem;
	}

}


.media-icons{

	padding: 0.5rem;

	& h2{
		
		margin: 0.5rem 1rem 1rem;
		border-bottom: 10px solid $white-color;
		text-align: center;
	}
	& li{

		display: inline;
		margin: 1rem;

	}
}

