/* HEADER */

header{

	@include flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 5rem;	
	width: 100%;
	text-shadow: 5px 10px 10px #0d0d0d;

& img{

	width: 200px;
	padding: 1rem;
	border: 0px;
}

}
