main{

 	background: url(../img/startbild.jpg) no-repeat center center;
 	background-size: 100% 100%;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-flow: row wrap;
 	flex-flow: row wrap;

 }
 
 .slogan{
 	
 	width: 100%;
 & h1{

 	margin: auto;
 	text-align: center;
 	font-size: 6rem;
 	color: $slogan;
 	font-family: 'Lobster', cursive;
 	-webkit-animation: jackInTheBox 2s;
 	animation: jackInTheBox 2s;
 }
 }



