/* MEDIA QUERIES */

@media screen and (min-width: $desktop){

	.omoss-container{

		@include flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

}

@media screen and (max-width: $laptop){

	.wrapper{

		margin: 3rem;
		& img{

			-webkit-filter: grayscale(0%);

			filter: grayscale(0%);
		}
		& p{

			padding: 0.5rem;
		}

	}

	.omossnav{

		width: 60%;
		margin: 5rem auto;
		padding: 0.5rem;
	}

	.omosstext{

		padding: 0 10rem 2rem 10rem;	
	}

	.contact form{

		margin: 3rem;

	}
	#map{

		width: 40vw;
		margin: 3rem auto 5rem auto;
		padding: 2rem;
	}
	

	.contact-adress{

		margin:auto;
		width: 100%;
	}


}


@media screen and (max-width: $mobile){

	main{

		background-size: 100% 100%;
	}

	.navbar{

		display: none;
	}

	.slogan h1{

		font-size: 3rem;
		padding: 0.5rem;
	}	
	
	#nav-span{
		
		margin: 1.2rem;
		font-size: 2rem;
		cursor: pointer;	
	}


	.mobile-nav, #nav-span{

		display: block !important;
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;

	}

	.mobile-nav {

		height: 100vh;
		width: 0;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
		background-color: $black-color;
		opacity: 0.7;
		overflow-x: hidden;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
		text-align: center;
		padding-top: 2.5rem;
		cursor: default;


		& li{

			margin-top: 1.2rem;
		}
		& a {

			padding: 0.8rem;
			text-decoration: none;
			font-size: 16px;
			color: $white-color;
			display: block;
			-webkit-transition: 0.3s;
			-o-transition: 0.3s;
			transition: 0.3s;
			border-bottom: 1px solid gray;
			cursor: pointer;
			text-transform: uppercase;
		}

	}

	.nav-item a:hover{
		
		font-size: 18px;
		font-weight: bold;
		
	}

	.mobile-nav .closebtn {

		position: absolute;
		top: 0;
		left: 0;
		font-size: 37px;
		border: none;
	}
	
	footer{		

		-webkit-box-pack: center;		

		-ms-flex-pack: center;		

		justify-content: center;		
	}
	
	.adress {

		margin: 0;
		padding: 0.5rem;
		
		& li{

			margin: 0.5rem;
		}

	}
	
	.media-icons{
		
		padding: 1rem;
		
		& li{
			
			margin: 1rem;
		}

	}
	
	.omoss-img{

		background-size: 100% 100%;
		background-attachment: scroll;
	}

	.omossnav{

		width: 90%;
		margin: 3rem auto;
	}

	.omosstext{
		
		padding: 0 2rem 2rem;
	}

	.tjanster{
		display: none;
	}

	.tjanster-mobil{
		
		display: block;
	}

	.tjanster-container{
		padding-top: 3rem;
	}

	.tjanster-text h1{

		font-size: 3rem;
	}

	.wrapper{
		
		-ms-flex-preferred-size: 90%;	
		flex-basis: 90%;
		margin: 3rem 1rem;
	}
	
	.modal{

		padding-top: 25px;
	}

	.modal-content{

		width: 90%;
	}

	.contact form{
		
		-webkit-animation-name: none;
		
		animation-name: none;
		margin: 5rem auto 3rem auto;
		width: 90%;
	}

	.contact button{
		width: 100%;
	}

	.contact #map{
		
		-webkit-animation-name: none;
		
		animation-name: none;
		width: 81vw;
		margin: auto;
	}

	#map span{

		display: none;
	}

	.contact-adress{

		display: none;
	}	
	
	
}

@media screen and (max-width: $xs-mobile){

	.slogan h1{
		font-size: 1.5rem;

	}

	.wrapper p ,.uppdrag-text p,{

		font-size: 14px;
		padding: 0 1rem;

	}

	.tjanster-text p{

		font-size: 14px;
	}

	.omosstext h1,.tjanster-text h1{

		font-size: 1.5rem;

	}

}