@mixin flex{
	
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin modal{

	padding: $modal-padding;
	min-height: 9rem;
	border-bottom: 1px solid $black-color;
	color: #000;
}