/* NAVBAR */

.zoom-nav{

	-webkit-animation: zoomIn 1s;

	animation: zoomIn 1s;
}

.navbar{

	margin: 2rem;
	text-align: center;
	text-transform: uppercase;

	& li{

		display: inline;
		margin: 1rem;

	}

	& a{
		
		color: $black-color;
		font-size: 16px;
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: bold;
		text-decoration: none;


	}
}

.navbar li>.current a , .navbar a:hover{

	border-bottom: 3px solid $black-color;
	padding-bottom: 2px; 

}

.mobile-nav, #nav-span{

	display: none;
}

.active{
	
	border-bottom: 3px solid $black-color;
	padding-bottom: 2px; 


}
