/* TJÄNSTER */

.tjanster-container{

	width: 100%;
	@include flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.tjanster{

	width: 80%;
	height: auto;
	@include flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 3em;
	text-align: center;
	& img{

		width: 100%;
		height: auto;
		padding-top: 1.5em;
	}
}

.tjanster-vanster{

	background-color: $main-color;
	width: 40%;	
	height: auto;
	padding: 1em 2em 2em 2em;
	-webkit-box-shadow: 5px 10px 22px #0d0d0d;
	box-shadow: 5px 10px 22px #0d0d0d;
	float: right; // fallback för IE 7 8 9
}

.tjanster-hoger {

	background-color: $main-color;
	width: 40%;	
	height: auto;
	padding: 1em 2em 2em 2em;
	-webkit-box-shadow: 5px 10px 22px #0d0d0d;
	box-shadow: 5px 10px 22px #0d0d0d;
	float: right; // fallback för IE 7 8 9
}


.tjanster-mobil{

	display: none;
	width: 80%;
	height: auto;
	background-color: $main-color;

	& img{

		padding-top: 1em;
		width: 100%;
		height: auto;
	}
}


.tjanster-text{
	
	font-weight: bold;
	width: 80%;
	padding: 2rem;
	& h1{

		font-size: 3rem;
		border-bottom: 3px solid $black-color;
		clear: both; // fallback för IE 7 8 9
	}
}


.tjanster-li
{
	line-height: 1em;
}

.tablink{

	background-color: $main-color;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1em 1em;
	width: 50%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	& :hover{

		background-color: #777;
	}
}

.tablinkactive{

	background-color: $black-color;
}


.tabcontent{

	color: $black-color;
	display: none;
	padding: 2em 1em;
	height: 100%;
}
